<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>Главная</title>
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle"> 
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Настроим Ваши рекомендации</h5>
                        <a style="cursor:pointer" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div class="modal-body">
                        Выберите наиболее интересующие вас занятия, чтобы мы смогли предложить Вам наши рекомендации
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Ваши предпочтения</h5>
                        <a style="cursor:pointer" class="btn-close set-rec" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div class="modal-body" id="rec-cat">
                        
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="cat-next" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Далее</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Занятия на основе выбранных Вами категорий</h5>
                        <a style="cursor:pointer" class="btn-close set-rec" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div id="rec-act" class="modal-body">
                        {{!-- <div class="row row-cols-3">
                          {{#each activities}}
                                {{divideby }}
                                <div class="col-4">
                                <div class=" card border  h5 mb-0 text-center align-middle  my-2" >
                                    <a href="#" class="stretched-link fw-bold py-5">{{this.name}}</a>
                                  </div>
                           </div>
                          {{/each}}
                        </div> --}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Назад</button>
                        <button class="btn btn-primary" aria-label="Close" data-bs-dismiss="modal">Готово</button>
                    </div>
                    </div>
                </div>
                </div>
                
                   
      <div class="row">
        <div class="col-4"><h4>Фильтры</h4>
        <form  enctype="multipart/form-data" id="activity-form">
                <div class="form-floating  mb-2">
                    <select class="form-control" name="" id="filter-cat">
                      <option value="0">Все</option>
                      
                    </select>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="title" id="filter-name" placeholder="Название">
                </div>
                <div id="validationServerUsernameFeedback" class="text-danger"></div>
                <div id="act-success" class="text-success"></div>
                <button class="w-100 btn btn-lg btn-primary" type="button" id="filter-submit">Поиск</button>
            </form>
        </div>
        <div class="col-8"><ol id="list" class="list-group">
          
       
          </ol></div>
      </div>
        
         
              
              
                  </div>
{{>footer}}
{{!-- {{#if newUser}} --}}
<script>
  let likedCategories =[]
    let likedActivities = []
   async function sendStatistic(element){
        console.log($(element))
        let id = $(element).data('id')
        if(likedActivities.includes(id)){
          let index = likedActivities.indexOf(id);
          if (index > -1) { // only splice array when item is found
            likedActivities.splice(index, 1); // 2nd parameter means remove one item only
          }
        }else{
          likedActivities.push(id)
        }
        console.log(likedActivities)
        $(element).toggleClass('btn-primary')
      }
$(window).on('load', async function() {
    
            $('#exampleModalToggle').modal('show');
            $('.btn-close').on('click', ()=>{
                $('#exampleModalToggle').modal('hide');
            })


   


    let res = await fetch('/api/categories') 
    let categories =await res.json()
    let row = $((`<div class="row row-cols-3">`))
    for(let i=0;i<categories.length; i++){
    if(i%3==0 ){
      row = $((`<div class="row row-cols-3">`))
      $('#rec-cat').append(row)
    }
      $(row).append(` <div class="col-4">
                      <div class=" card border  h5 mb-0 text-center align-middle  my-2" >
                          <a href="" class="stretched-link fw-bold py-5 cat-card" data-id="${categories[i].id}" id="category-${categories[i].id}">${categories[i].name}</a>
                        </div>`)
    }
    $('.cat-card').each(async(index,element)=>{
      $(element).on('click', async(e)=>{
        e.preventDefault()
        let id = $(element).data('id')
        if(likedCategories.includes(id)){
          const index = likedCategories.indexOf(id);
          if (index > -1) { // only splice array when item is found
            likedCategories.splice(index, 1); // 2nd parameter means remove one item only
          }
        }else{
          likedCategories.push(id)
        }
        $(element).toggleClass('btn-primary')
      })
    })

    $('#cat-next').on('click', async function(){
      $('#rec-act').empty()
      let result = await fetch(`/api/activities/cat/?id=${likedCategories.join(',')}`)
      let res = await result.json()
      let row = $((`<div class="row row-cols-3">`))
      for(let i=0;i<res.length; i++){
      if(i%3==0 ){
        row = $((`<div class="row row-cols-3">`))
        $('#rec-act').append(row)
      }
        $(row).append(` <div class="col-4">
                        <div class=" card border  h5 mb-0 text-center align-middle  my-2" >
                            <a href="#" class="stretched-link fw-bold py-5 activity-card" onclick="sendStatistic(this)" data-id="${res[i].id}" id="activity-${i}">${res[i].name}</a>
                          </div>`)
      }

    
    })
   
    

    
})
</script>
{{!-- {{/if}} --}}
<script type="text/javascript">
$(window).on('load', function() {
      
    const urlParams = new URLSearchParams(window.location.search);
    let  act_name = urlParams.get('name');
    let  cat_name = urlParams.get('category');

    
    $('#filter-name').val(act_name)
        fetch(`/api/activities?name=${act_name||''}&category=${cat_name||''}`).then(response => response.json()).then(res=>{
        for( let r of res){
          let li = `<a href="/activities/${r.id}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">${r.name}</h5>
                      <div>
                      <small>3 дня назад</small>
                      <span class="badge bg-primary text-white rounded-pill" style="background-color: #6f42c1;" >${r.users.length} участников</span>
                      </div>
                    </div>
                    <p class="mb-1"></p>
                    <small>Спорт</small>
                  </a>
                  `
            $('#list').append(li)
        }
        })

        fetch(`/api/categories/`).then(response=>response.json()).then(res=>{
          for(let r of res){
            let opt = `<option value="${r.id}">${r.name}</option>`
            $('#filter-cat').append(opt)
          }
          
        })

        $('#filter-submit').on('click',()=>{
          const filter = {
            name:$('#filter-name').val(),
            cat_n:$('#filter-cat').val()
          }
          fetch(`/api/activities?name=${filter.name}&category=${filter.cat_n||''}`).then(response => response.json()).then(res=>{
            $('#list').empty()
            for( let r of res){
              let li = `<a href="/activities/${r.id}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">${r.name}</h5>
                          <div>
                          <small>3 дня назад</small>
                          <span class="badge bg-primary text-white rounded-pill" style="background-color: #6f42c1;" >${r.users.length} участников</span>
                          </div>
                        </div>
                        <p class="mb-1"></p>
                        <small>Спорт</small>
                      </a>
                      `
                $('#list').append(li)
            }
            
            
            })
        })
    });
</script>
                 
             </body>
             </html>